
img {
  width: 100%;
}

.card {
  margin: 8px;
}

p {
  margin: 0;
  margin-block-start: 0em;
  margin-block-start: 0em;
}

.product_name {
  font-size: 14px;
  color:  #333;
  margin-top: 6px;
  margin-bottom: 2px;
}

.price {
  font-size: 10px;
  color:  #333;
}

.slick-prev:before {
  content: none;
}

.slick-next:before {
  content: none;
}